* text=auto

/.github export-ignore
/correct export-ignore
/fixed export-ignore
/tests export-ignore
/wrong export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.kodiak.toml export-ignore
.php_cs export-ignore
changelog-linker.yaml export-ignore
ecs.php export-ignore
phpcs.xml export-ignore
phpunit.xml.dist export-ignore
rector.php export-ignore
renovate.json export-ignore
